- cards = []
- cards_other = []


.main-container
  %img#logo{src: asset_path("logo.jpg")}
  .left.group
    - add_card(cards, "mkf11", "Michael Kors Fall 2011(0)", 1)
    - (0..5).each do |i|
      - add_card(cards, "mkf13", "Michael Kors Fall 2013(#{i})", i+2)
    - add_card(cards, "mkpf13", "Michael Kors Pre-fall 2013(0)", 8)
    - add_card(cards, "mks12", "Michael Kors Spring 2012(0)", 9)
    - add_card(cards, "mks13", "Michael Kors Spring 2013(0)", 10)
    - counter = 0
    - while cards.length > 0
      - counter += 1
      = render_card('','','') if counter == 4
      = render_card_from_array(cards)

  .right.group
    - counter = 0
    - add_card(cards_other, "hs09", "Halston Spring 2009", counter += 1)
    - add_card(cards_other, "ckf12", "Calvin Klein Fall 2012", counter += 1)
    - add_card(cards_other, "nms13", "Nicole Miller Spring 2013", counter += 1)
    - add_card(cards_other, "mmmf12", "Maison Martin Margiela Fall 2012", counter += 1)
    - add_card(cards_other, "lvf10", "Louis Vuitton Fall 2010", counter += 1)
    - add_card(cards_other, "cdpf12", "Christian Dior Pre-fall 2012", counter += 1)
    - add_card(cards_other, "cdf12", "Christian Dior Fall 2012", counter += 1)
    - add_card(cards_other, "cds13", "Christian Dior Spring 2013", counter += 1)
    - add_card(cards_other, "cs10", "ChloeÌ Spring 2010", counter += 1)
    - add_card(cards_other, "cpf11", "CeÌline Pre-fall 2011", counter += 1)
    - counter = 0
    - while cards_other.length > 0
      - counter += 1
      = render_card('','','') if counter == 4
      = render_card_from_array(cards_other)