- cards = []
- cards_other = []

.main-container
  %img#logo{src: asset_path("logo.jpg")}
  .left.group
    = render_card("mkf11", "Michael Kors Fall 2011(0)", 1)
    - (0..5).each do |i|
      = render_card("mkf13", "Michael Kors Fall 2013(#{i})", i+2)
    = render_card("mkpf13", "Michael Kors Pre-fall 2013(0)", 8)
    = render_card("mks12", "Michael Kors Spring 2012(0)", 9)
    = render_card("mks13", "Michael Kors Spring 2013(0)", 10)

  .right.group
    - counter = 0
    = render_card("hs09", "Halston Spring 2009", counter += 1)
    = render_card("ckf12", "Calvin Klein Fall 2012", counter += 1)
    = render_card("nms13", "Nicole Miller Spring 2013", counter += 1)
    = render_card("mmmf12", "Maison Martin Margiela Fall 2012", counter += 1)
    = render_card("lvf10", "Louis Vuitton Fall 2010", counter += 1)
    = render_card("cdpf12", "Christian Dior Pre-fall 2012", counter += 1)
    = render_card("cdf12", "Christian Dior Fall 2012", counter += 1)
    = render_card("cds13", "Christian Dior Spring 2013", counter += 1)
    = render_card("cs10", "Chloé Spring 2010", counter += 1)
    = render_card("cpf11", "Céline Pre-fall 2011", counter += 1)